﻿@model AppViewModel

<p><b>Вывод</b> <b>расчёта</b> <b>по</b> <b>формуле</b> <b>:</b></p>
<form href="/app" method="get">
    <input type="text" name="h" value="@Model.h" />
    <input type="text" name="r" value="@Model.r" />
    <p>result: @Model.result</p>
    <button type="submit">Рассчитать</button>
</form>